@model ManageRoles.ViewModels.LoginViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<style>

    #CaptchaInputText {
        text-transform: uppercase;
    }
</style>
<script src="~/Scripts/gridScripts/common_script.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>




<div class="row">
    <div class="container text-center">
        <div class="gray-bg ptb-40">
            <h2 class="page-title">RealEstate</h2>
        </div>
    </div>

    <!-- register-area start -->
    <div class="register-area ptb-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-4 col-lg-offset-4">
                    <div class="login">
                        <div class="login-form-container">
                            <div class="login-text">
                                <h2>login</h2>
                                <span>Please login using account detail bellow.</span>
                            </div>
                            <div class="login-form">
                                @using (Html.BeginForm("Login", "Login"))
                                {
                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                    @Html.LabelFor(model => model.Username)
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @maxlength = 20, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })


                                    @Html.LabelFor(model => model.Password)
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @maxlength = 30, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <div class="button-box">
                                        <div class="login-toggle-btn">
                                            <input type="checkbox">
                                            <label for="remember">Remember me</label>
                                            <a href="/PasswordMaster/ForgetPassword">Forgot Password?</a>
                                            @if (ViewBag.errormessage != null)
                                            {
                                                <p class="alert alert-danger" id="successMessage">@ViewBag.errormessage</p>
                                            }
                                        </div>
                                        <input id="Submit1" class="default-btn floatright" type="submit" value="Sign in To Account">
                                        <input id="CreateUser" class="default-btn floatright" value="Registration">
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- register-area end -->

</div>




<script>
    
    $("#CreateUser").click(function () {

        window.location.href = Z_COMMON.URL.Create_User;

    });

</script>